.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-search {
    border: none;
    border-radius: 0; 
    outline: none;
    font-size: 16px; 
    background: transparent; 
    color: #f0f0f0;
    width: 100%; 
    box-sizing: border-box; 
    transition: border-bottom 0.3s ease;
}

.input-search:focus {
    border-bottom: 2px solid #fff;
}

.icon-search  {
    width: 20px;
    height: 20px;
}